@import 'https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,400,500,600,700,800,900';
@-webkit-keyframes conceal {
  0% {
    opacity: 1; }
  7% {
    opacity: .8; }
  100% {
    opacity: .02; } }
@keyframes conceal {
  0% {
    opacity: 1; }
  7% {
    opacity: .8; }
  100% {
    opacity: .02; } }

@-webkit-keyframes glisten {
  0% {
    opacity: 0.5; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

@keyframes glisten {
  0% {
    opacity: 0.5; }
  25% {
    opacity: 1; }
  50% {
    opacity: .5; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes glistenBounce {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    opacity: 1; }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); }
  75% {
    opacity: 1; }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes glistenBounce {
  0% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    opacity: 1; }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-0.125em);
    transform: translateY(-0.125em); }
  75% {
    opacity: 1; }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
