body.about {
	// main {
	// 	width: 100%;
	// 	padding-left: 0; 
	// 	padding-right: 0;
	// }
	nav {
	
	}
	#wrapper {
		main {
			ul.nested.parent {
				display: table;
				margin: auto;
				ul.child {
					span {
						&.years {
							@include xSmallText;
							opacity: 0.5;
							&::before {
								content: ' (';
							}
							&::after {
								content: ')';
							}
						}
					}
				}
				.links {
					margin-top: .25em;
				}
			}
		}
	}
}