body.about {
	// main {
	// 	width: 100%;
	// 	padding-left: 0; 
	// 	padding-right: 0;
	// }
	nav {
	
	}
	#wrapper {
		main {
			ul.parent {
				width: 100%;
				max-width: 100%;
				display: block;
				padding: 2em 0 0 0;
				margin: 0;
				&:first-child {
					padding: 0;
				}
				li {
					list-style: none;
					&.cell {
						width: calc(50% - 1em);
						max-width: $lineWidth;
						margin: 0 0 2em 0;
						padding: 0;
						float: left;
					}
				}
				h2 {
					@include serifText;
					width: 100%;
					margin: 0 0 .5em 0;
			    display: block;
			    text-align: center;
			  }
			  h2.title {
					@include revealerText;
					text-align: center;
					// padding: 0 0 1.5em 0;
				}
				ul.child {
					display: block;
					margin: auto;
					padding: 0;
					li {
						width: 100%;
						padding: 0 0 1em 0;
						.body {
							@include serifText;
							@include smallText;
							strong {
								@include revealerText;
							}
						}
						.name {
							@include serifText;
							@include smallText;
							font-weight: $black;
							em {
								font-style: normal;
							}
						}
						p {
							display: inline;
							font-size: inherit; 
							line-height: inherit;	
						}
						a {
							display: inline;
						}
						span {
							&.years {
								@include xSmallText;
								opacity: 0.5;
								&::before {
									content: ' (';
								}
								&::after {
									content: ')';
								}
							}
						}
					}
				}
				.links {
					margin-top: .5em;
					a {
						display: inline-block !important;
						margin-right: 1em;
						text-decoration: none;
						@include xSmallText;
						border-bottom: 1px solid $gold;
						&:hover {
							color: $gold;
						}
					}
				}
				&.about {
					max-width: $maxWidth;
					display: table;
					margin: auto;
					li {
						.body {
							h2 {
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
	@include medium {
		#wrapper main ul.parent {
			height: auto !important;
			li.cell {
				width: 100%;
				display: block;
				margin: auto;
				position: static !important;
				left: 0 !important;
				top: 0 !important;
				float: none;
				ul.child {
					display: block;
				}
			}
		}
	}
	@include small {
		#wrapper main ul.parent {
			display: block;
			margin: auto !important;
		}
	}
}