@import 'vars';
.mce-content-body {
	@include sansSerifText;
	h1, h2, h3, h4 {
		max-width: $lineWidth;
		@include serifText;
		font-weight: $regular;
		margin: auto;
		padding: 1em 0;
	}
	h1 {
		@include largeText;
	}
	h2, h3, h4 {
		@include xMediumText;
	}
	blockquote {
		max-width: calc(#{$lineWidth} - 2em);
		margin-left: auto;
		margin-right: auto;
		font-style: italic;
		@include serifText;
	}
}