body.articles #wrapper {
	main {
		width: calc(100% - #{$sideWidth} - 4em);
		padding: 0 2em 4em calc(#{$sideWidth} + 2em);
	}
	aside {
		width: calc(#{$sideWidth} - 2em);
		height: 100%;
		padding-left: 2em;
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
	  flex-direction: column;
	  overflow-y: scroll;
	  z-index: 300;
	  -webkit-overflow-scrolling: touch;
		.content {
			// flex: 1;
			margin: 0 0 1em 0;
			padding: 2em 0;
		}
		#filters {
			padding: 2em 0 0 0;
			flex: 1;
			.filter {
				padding: 0 0 2em 0;
				h4 {
					font-weight: $black;
					display: inline;
					margin-right: .5em;
					&::after {
						content: ' ';
					}
				}
				a {
					@include xSmallText;
					text-decoration: none;
					color: $medium;
				}
				.label {
					width: 100%;
					padding: 0;
					user-select: none;
					font-weight: $black;
					.more {
						font-weight: $regular;
					}
				}
				&:last-child {
					padding: 0;
				}
			}
			.commas {
				color: $medium;
				span {
					@include serifText;
					&.selected {
						a {
							border-bottom: 1px solid $gold;
							&:hover {
								border-bottom-color: transparent;
							}
						}
					}
					&.more {
						font-style: italic;
					}
				}
			}
		}
		&.fixed {
			position: fixed;
		}
		&.bottom {
			position: relative;
			aside {
				height: 100vh;
				position: absolute;
				top: auto !important;
				bottom: 0;
			}
		}
	}
	@include medium {
		.transport.top {
			display: flex;
		}
		main {
			width: calc(100% - 4em);
	    padding: .5em 2em 4em 2em;
		}
		aside {
			width: calc(100% - 1em);
			padding: .5em .5em 2em .5em;
		}
	}
	@include small {
		.loop {
			max-width: 35em;
			margin: auto;
			display: table;
		}
		aside {
			width: calc(100% - 4em);
			max-width: 35em;
			height: auto !important;
			padding: .5em 2em 2em 2em;
			margin: auto;
			display: table;
			position: static !important;
			transform: 0 !important;
			.content {
				margin: 0;
				padding: 0;
				#filters {
					.filter {
						.list {
							height: 0;
						}
					}
				}
			}
		}
	}
}