.single-post {
	aside {
		#about {
			width: 100%;
			.info {
				width: 100%;
				.title {
					padding: 0 0 1em 0;
					@include serifText;
					h1 {
						width: 100%;
						text-align: left;
						margin: 0;
						text-transform: none;
						span {
							opacity: .2;
						}
					}
				}
				.meta {
					width: 100%;
					padding: .5em 0;
					display: table;
					margin: auto;
					.row {
						width: 100%;
						margin: 0 0 .25em 0;
						padding: 0 0 .25em 0;
						border-bottom: 1px solid rgba($medium,.05);
						.label, .value {
							color: $dark;
							@include xSmallText;
						}
						&.split {
							display: flex;
							.label {
								padding-right: .5em;
								text-align: left;
								flex: 1;
							}
							.value {
								text-align: right;
								flex-wrap: wrap;
							}
						}
						a {
							text-decoration: none;
							color: $medium;
							&:hover {
								color: $dark;
							}
						}
						&.images {
							transition: all 500ms $ease;
							overflow: hidden;
							position: relative;
							padding: 0;
							.value {
								width: 100%;
								.loop {
									.cell.transport {
										margin-bottom: .25em;
										.image {
											img {
												width: 100%;
												backface-visibility: hidden;
											}
										}
										&:hover {
											cursor: pointer;
										}
									}
								}
							}
							&.hide {
								height: 0;
								padding: 0;
								margin: 0;
								opacity: 0;
							}
						}
						&.tags {
							span {
								&.label {
									padding: 0 .25em 0 0;
									&::after {
										content: '';
									}
								}
								&.tag {
									@include xxSmallText;
									a {
										font-style: italic;
										color: $medium;
										&:hover {
											color: $dark;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#wrapper {
		padding-bottom: 2em;
		.max {
			max-width: $lineWidth;
			margin: auto;
		}
		main {
			article.readable {
				width: calc(100% - 4em);
				padding: 2em 2em 0 2em;
				opacity: 0;
				&.show {
					opacity: 1;
				}
				.max {
					margin: 0;
				}
				.text {
					* {
						color: $dark !important;
					}
					.excerpt {
						padding: 0 0 2em 0;
						text-align: center;
						margin: auto;
						opacity: .5;
						h2 {
							@include serifText;
						}
					}
					.content {
						padding-bottom: 2em;
					}
					img {
						opacity: 0;
					}
					h1, h2, h3, h4 {
						max-width: $lineWidth;
						margin-left: auto;
						margin-right: auto;
					}
					p {
						max-width: $lineWidth;
						margin-left: auto;
						margin-right: auto;
						a {
							color: $dark;
							&.ftn {
								width: 1em;
								height: 1em;
								display: inline-block;
								border: 1px solid $medium;
								border-radius: 50%;
								color: $medium !important;
								text-align: center;
								padding: .2em;
								&.super {
							    transform: translateY(-.5em);
							    @include xxSmallText;
							    line-height: 1em;
								}
								&.ref {
									@include xSmallText;
									line-height: 1em;
								}
								&:focus {
									outline: none;
									background-color: $gold;
								}
							}
						}
					}
					.image {
						// transform: translateX(-1em);
						img {
							display: table;
							margin: auto;
						}
					}
					iframe {
						width: 100%;
					}
					blockquote {
						font-style: italic;
						@include serifText;
						@include mediumText;
						* {
							@include serifText;
							font-weight: normal;
							font-style: normal;
							color: $dark;
							text-decoration: none;
							font-size: 1em;
							line-height: 1.2em;
						}
					}
					.wp-caption {
						color: $medium;
						max-width: 100%;
						display: block;
						@include xxSmallText;
						a {
							display: inline-table;
						}
						img {
							max-width: 100%;
							height: auto;
						}
						.wp-caption-text, p {
							width: 100%;
							max-width: 100%;
							padding: .25em;
							color: $medium;
							font-size: 1em;
						}
						&:first-child {
							margin-top: 0;
						}
					}
					img {
						width: auto;
						max-width: 100%;
						height: auto;
						// border: .5em solid $medium;
					}
					img, div {
						&.aligncenter {
							max-width: 100%;
							clear: both;
					    margin: 1em auto;
						}
						&.alignleft {
							float: left;
							margin: 1em 1em 1em 0;
						}
						&.alignright {
							float: right;
					    margin: 1em 0 1em 1em;
					    &.wp-caption {
			    	    // transform: translateX(2.95em);
					    }
						}
					}
				}
			}
			.image {
				// background: $light;
				img {
					display: inline;
					opacity: 0 !important;
					transition: opacity 600ms $ease;
				}
				&.loaded {
					// background: rgba($medium,0);
					img {
						opacity: 1 !important;
					}
				}
			}
			.gallery-item {
				img {
					border: 0;
				}
			}
			.transport.top {
				position: fixed;
				right: 2em;
				bottom: 2em;
				z-index: 700;
				display: flex;
				&:hover {
					cursor: pointer;
					@include largeShadow($lightest);
				}
				span {
					display: table;
					margin: auto;
					@include xSmallText;
					line-height: 0;
					font-family: 'Clarendon';
				}
				svg {
					width: 75%;
					height: 75%;
			    display: table;
			    margin: auto;
			    fill: $medium;
				}
			}
		}
	}
	@include small {
		#wrapper {
			aside {
				.images, .tags {
					display: none !important;
				}
			}
			main {
				article.readable {
					width: 100%;
					padding-right: 0;
					padding-left: 0;
					.max {
						margin: auto;
					}
				}
				.transport.top {
					right: 1em;
					bottom: 1em;
				}
			}
		}
	}
}