.columns {
	.column {
		h3 {
			@include serifText;
			color: $medium;
			font-weight: $regular;
			z-index: 100;
			.date {
				margin-right: .5em;
				font-style: italic;
			}
		}
		h1 {
			display: table;
			@include serifText;
			@include xLargeText;
			font-weight: $regular;
			transition: opacity 500ms $ease;
		}
		h2 {
			@include serifText;
		}
		a {
			text-decoration: none;
			display: table;
			&:hover {
				opacity: .75;
			}
		}
	}
	.sections {
		padding: 0 0 2em 0;
		section {
			a {
				text-decoration: none;
			}
			&.articles {
				.loop {
					article.cell {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}
.sections {
	width: 100%;
	display: flex;
	flex-direction: rows;
	flex-wrap: wrap;
	section {
		width: 100%;
		float: left;
		display: table;
		&:nth-of-type(odd) {
			padding-right: 2em;
		}
		&:nth-of-type(even) {
			padding-left: 2em;
		}
	}
	&.one_one {
		section {
			width: calc(50% - 2em);
		}
	}
	&.one_two {
		section:first-child {
			width: calc(33.333% - 2em);
		}
		section:last-child {
			width: calc(66.666% - 2em);
		}
	}
	&.two_one {
		section:first-child {
			width: calc(66.666% - 2em);
		}
		section:last-child {
			width: calc(33.333% - 2em);
		}
	}
	@include medium {
		&.one_two {
			section {
				width: 100% !important;
				padding: 0 0 1em 0;
				.loop {
					width: calc(100% - 2em) !important;
					padding: 0 0 0 2em;
				}
			}
		}
	}
}
