body.discover:not(.seeking), body.error404:not(.seeking) {
	background-color: $gold;
	header#header {
    background-color: $gold;
    @include mediumShadow($gold);
    .bar {
      display: none;
    }
    .inner {
      .tagline {
        color: white;
      }
      #logo {
        svg {
          fill: white;
        }
        a.svg:hover {
          svg {
            opacity: .5;
          }
        }
      }
      nav {
        .link a {
          color: white;
          &:hover {
            opacity: .5;
          }
        }
      }
      .goldbar .solid {
        background-color: white;
        box-shadow: 0 0 .25em .1em white;
      }
    }
	}
	#wrapper {
		main {
			width: 100%;
			margin-left: 0; 
			margin-right: 0;
      padding-left: 0; 
      padding-right: 0;
      color: white;
      .inner {
        position: relative;
        padding: 0 0 5em 0;
        .loader {
          width: 100%;
          padding: 2em 0 4em 0; 
          position: absolute;
          left: 0;
          bottom: 0;
          transition: transform 800ms $ease;
          transform: translateY(10em);
          .circle {
            width: 8em;
            height: 8em;
            display: table;
            margin: auto;
            @include mediumShadow(white);
            background: {
              image: url(images/loading1.gif);
              position: center;
              repeat: no-repeat;
              size: cover;
            }
          }
        }
      }
      &.querying {
        .loader {
          transform: translateY(0);
        }
      }
		}
	}
  #discover {
    z-index: 300;
  }
  .transport {
    @include mediumShadow(white);
    display: flex;
  }
}
#discover {
	@include smallShadow($gold);
	width: 100%;
  flex: 1;
  clear: both;
  background-color: $gold;
  position: relative;
  z-index: 500;
  .loop {
    width: calc(100% + 10em);
    margin: 0 0 0 -5em;
    padding: 0;
    display: table;
    .cell {
      display: block;
      width: calc(100%/6 - .1em) !important;
      margin: 0 !important;
      opacity: 0;
      transition: opacity 1000ms $ease !important;
      float: left;
      .wrap {
        display: table;
        padding: 0;
        margin: auto;
        text-align: center; 
        pointer-events: none;
        a {
          width: 5em;
          height: 5em;
          overflow: visible;
          font-weight: $regular;
          text-decoration: none;
          display: table;
          position: relative;
          pointer-events: all;
          .image, .circle {
            transition: transform 500ms $ease, box-shadow 800ms $ease, opacity 500ms $ease;
          }
          .title {
            transition: transform 800ms $ease;
          }
          &:focus {
            outline-color: white;
          }
          &:hover {
            .image, .circle {
              transform: scale(1.05);
              @include largeShadow(white);
            }
            .title {
              transform: scale(1.05);
            }
          }
        }
        .image {
          width: 5em;
          height: 5em;
          border-radius: 50%;
          @include mediumShadow(white);
          // box-shadow: inset 0 0 .25em .5em $gold;
          background-position: center;
          background-size: cover;
          &.load, &.loading {
            background-image: none !important;
            background-color: white;
          }
          &.loaded {
            // background-color: $gold; 
          }
        }
        .circle {
          width: 5em;
          height: 5em;
          z-index: 1;
          @include mediumShadow(white);
        }
      }
      &:nth-child(12n+1),&:nth-child(12n+2), &:nth-child(12n+3), &:nth-child(12n+4), &:nth-child(12n+5), &:nth-child(12n+6) {
        transform: translateX(-50%);
      }
      &.show {
        opacity: 1;
      }
    }
  }
  .inner {
    width: 100%;
  	// width: calc(100% - 4em);
  	// padding: 2em;
  	.center {
  		display: table;
  		margin: auto;
  	}
	}
  .discover_more {
    width: 100%;
    padding: 0;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0em;
    .wrap {
      display: table;
      margin: auto;
      position: relative;
      z-index: 10;
      a {
        text-decoration: none;
        display: table;
      }
      h2 {
        @include revealerText;
        overflow: visible;
        span {
          font-weight: $regular;
          display: inline-block;
          font-style: normal;
          overflow: visible;
        }
      }
    }
  }
  &.bottom {
    padding: 3em 0; 
    #searchform {
      position: absolute;
      top: calc(50% - 2.5em);
      left: 0;
      form {
        max-width: $lineWidth;
        input[type="search"] {
          background: white;
        }
      }
    }
  }
}
body.search {
  #discover .header {
    bottom: auto;
    top: 1em;
    .wrap h3 {

    }
  }
  .header {
    .shape {
      width: 25%;
      float: left;
      &:first-of-type {

      }
      &:last-of-type {
        
      }
    }
  }
}
@include small {
  body.discover:not(.seeking), body.error404:not(.seeking) {
    header#header {
      .inner .rows .row.navigation {
        
        nav {
          background-color: $gold !important;
        }
      }
    }
  }
  #discover {
    .loop .cell .wrap {
      a, .image, .circle {
        width: 3em;
        height: 3em;
      }
    }
  }
}
body.error404 {
  .seeker {
    background: transparent;
    margin-bottom: 2em;
  }
}