body.discover, body.error404 {
	background-color: $gold;
	header {
    background-color: rgba($gold,.95);
    @include boxShadow(rgba($gold,.95));
    .bar {
      display: none;
    }
    .inner {
      .tagline {
        color: $dark;
        opacity: .5;
      }
      #logo {
        a.svg:hover {
          svg {
            fill: $dark;
            opacity: .5;
          }
        }
      }
      nav {
        .link a:hover {
          color: $dark;
          opacity: .5;
        }
      }
      .bar.bg .solid {
        background-color: $gold;
        @include boxShadow($gold);
      }
    }
	}
	#wrapper {
		main {
			width: 100%;
			margin-left: 0; 
			margin-right: 0;
		}
	}
  #discover {
    z-index: 300;
    min-height: 100vh;
  }
}
#discover {
	@include boxShadow($gold);
	width: 100%;
  flex: 1;
  clear: both;
  background-color: $gold;
  position: relative;
  z-index: 500;
  .loop {
    width: calc(100% + 10em);
    margin: 0 0 0 -5em;
    padding: 0;
    display: table;
    .cell {
      display: block;
      width: calc(100%/6 - .1em);
      margin: 0;
      // @include tablet {
      //   width: calc(100%/4);
      //   .wrap {
      //     padding: 80px;
      //   }
      // }
      .wrap {
        display: table;
        padding: 1em 0;
        margin: auto;
        text-align: center; 
        pointer-events: none;
        // mix-blend-mode: darken;
        a {
          width: 5em;
          height: 5em;
          overflow: visible;
          font-weight: $regular;
          text-decoration: none;
          display: table;
          position: relative;
          pointer-events: all;
          .image, .circle {
            transition: transform 500ms $ease, box-shadow 800ms $ease;
          }
          .title {
            transition: transform 800ms $ease;
          }
          &:focus {
            outline-color: $light;
          }
          &:hover {
            .image, .circle {
              transform: scale(1.05);
              @include hoverShadow($light);
            }
            .title {
              transform: scale(1.05);
            }
          }
        }
        .image {
          width: 5em;
          height: 5em;
          border-radius: 50%;
          @include circleShadow($light);
          // box-shadow: inset 0 0 .25em .5em $gold;
          background-position: center;
          background-size: cover;
          &.load, &.loading {
            background-image: none !important;
            background-color: $light;
          }
          &.loaded {
            // background-color: $gold; 
          }
        }
        .title {
          font-family: 'Clarendon';
          text-transform: lowercase;
          position: relative;
          z-index: 10;
        }
        .circle {
          width: 5em;
          height: 5em;
          // position: absolute;
          // left: calc(50% - 2em);
          // top: calc(50% - 2em);
          z-index: 1;
          @include circleShadow($light);
        }
      }
      &.category {
        // width: calc(40%);
      }
      &:nth-child(12n+1),&:nth-child(12n+2), &:nth-child(12n+3), &:nth-child(12n+4), &:nth-child(12n+5), &:nth-child(12n+6) {
        transform: translateX(calc(100vw/12));
      }
    }
  }
  h1, h2, h3 {
		span {
  		font-style: normal;
  		opacity: 0.5;
  		transform: translateY(0);
  		display: table;
  		float: left;
  		margin: 0;
  	}
	}
  .inner {
    width: 100%;
  	// width: calc(100% - 4em);
  	// padding: 2em;
  	.center {
  		display: table;
  		margin: auto;
  	}
	}
  .header {
    width: 100%;
    padding: 0;
    position: relative;
    position: absolute;
    left: 0;
    bottom: 0em;
    .wrap {
      display: table;
      margin: auto;
      position: relative;
      z-index: 10;
      a {
        text-decoration: none;
        display: table;
      }
      h1, h2 {
        @include serifText;
        span {
          font-style: italic;
          font-weight: $bold;
        }
      }
      .dash {
        width: 50%;
        height: .1em;
        display: table;
        margin: .5em auto 0 auto;
      }
    }
    // .circle {
    //   width: 3em;
    //   height: 3em;
    //   border-radius: 50%;
    //   background: $light;
    //   box-shadow: inset 0 0 .25em .5em $light;
    //   position: absolute;
    //   left: calc(50% - 1.5em);
    //   top: calc(50% - 1.5em);
    //   z-index: 1;
    // }
  }
  &.bottom {
    padding: 3em 0; 
    #searchform {
      position: absolute;
      top: calc(50% - 2.5em);
      left: 0;
      form {
        max-width: $lineWidth;
        input {
          background: $light;
          backface-visibility: hidden;
          &:focus, &:hover {
            @include hoverShadow($gold);
          }
        }
      }
    }
  }
}