footer#footer {
	width: 100%;
	padding: 3em 0 2em 0;
  margin: 0;
  z-index: 450;
  position: relative;
  background-color: $lightest;
	.note {
		color: $medium;
		display: table;
		margin: auto;
		padding: .25em 1em 0 1em;
		text-align: center;
    @include revealerText;
		@include smallText;
    &.newsletter {
      font-size: inherit;
      padding: 1em;
      font-size: 1em;
    }
	}
  form {
    width: 100%;
    .inputs {
      justify-content: center;
      margin: .5em auto;
    }
  }
}
.social {
  display: table;
  margin: auto;
  padding: 0 2em;
  a {
    text-decoration: none;
    display: inline;
    svg {
      width: auto;
      height: 1em;
      fill: $dark;
    }
    &:hover {
      svg {
        fill: $gold;
      }
    }
  }
}