#discover {
  #searchform {
    position: absolute;
    top: calc(100% - 2.5em);
    left: 0;
    form {
      max-width: $lineWidth;
      input {
        background: $light;
        &:focus {
          outline-color: $light;
        }
      }
    }
  }
}
footer {
	width: 100%;
	padding: 1em 0;
  margin: 4em 0 2em 0;
  .social {
  	display: table;
  	margin: auto;
  	padding: 0 2em;
  	a {
  		text-decoration: none;
  		display: inline;
    	svg {
				width: auto;
				height: 1em;
				fill: $dark;
			}
			&:hover {
				svg {
					fill: $gold;
				}
			}
		}
  }
	.note {			
		color: $medium;
		display: table;
		margin: auto;
		padding: 1em 1em 0 1em;
		text-align: center;
		@include xSmallText;
    a {
      text-decoration: none;
      border-bottom: 1px solid $medium;
    }
	}
  form.newsletter {
    label {
      color: $dark;
      input {
        margin: 1em 0 0 1em;
        background: $light;
        border: none;
        border-radius: 0;
        @include circleShadow($gold);
      }
    }
  }
}