header {
	width: 100%;
	height: auto;
  margin: 0;
  padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 400;
	transform: 0ms !important;
	background: rgba($lightest,.98);
  &.mobile {
  	display: none;
  }
  .inner {
  	width: calc(100% - 4em);
		margin: 0 2em;
  	display: flex;
  	// background: $lightest;
  	position: relative;
  }
  #logo {
		display: flex;
		align-content: center;
		padding: 0;
		a.svg {
			display: table;
			margin: auto;
	    text-decoration: none;
			svg {
				width: calc(#{$sideWidth} - 1em);
				height: auto;
				padding: .5em 0;
				fill: $dark;
				transition: fill 500ms $ease, opacity 500ms $ease;
			}
			&:hover {
				svg {
					fill: $gold;
				}
			}
		}
		.about {
			display: inline;
			margin-bottom: 1em;
		}
		em {
    	font-size: inherit;
    	line-height: inherit;
    }
	}
  .rows {
    padding: .5em 0;
  	display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    font-style: normal;
    font-weight: $black;
    text-transform: uppercase;
		font-weight: $regular;
    .tagline {
    	color: $medium;
    	flex: 1;
    }
    .navigation {
    	width: 100%;
	    nav {
	  		display: table;
	  		float: right;
				.link {
					float: left;
					display: inline;
					padding: 0;
					margin: 0 0 0 .5em;
					list-style: none;
					a {
				    text-decoration: none;
				    font-style: normal;
				    transition: color 500ms $ease, opacity 500ms $ease;
				    // color: $lightest;
				    &:hover {
				    	color: $medium;
				    }
					}
					&:first-child {
						margin: 0;
					}
				}
			}
		  &.break {
		  	flex-direction: column;
		  	.tagline, .links {
		  		display: table;
		  		margin: auto;
		  	}
		  }
		  &.filters {
				// display: none;
				.filter {
					.toggle {
						width: 100%;
						user-select: none;
						text-transform: lowercase;
						font-family: Clarendon;
						@include xSmallText;
						&:hover {
							cursor: pointer;
							color: $medium;
						}
					}
					.list {
						height: 0;
						opacity: 0;
						overflow: hidden;
						color: $medium;
						transition: height 500ms ease, opacity 500ms 30ms ease;
						padding-left: .5em;
						&.show {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	@include medium {
		.inner .rows .row {
			@include xSmallText;
		}
	}
	@include small {
		.inner {
			width: calc(100% - 1em);
	    margin: .5em .5em 0 .5em;
	    display: block;
			#logo {
				width: 100%;
				max-width: $sideWidth;
				padding: 0;
				margin: auto;
				a.svg {
					svg {
						width: 100%;
						display: block;
						padding: 0;
						margin: auto;
					}
				}
			}
			.rows {
				width: 100%;
				.row {
					width: auto;
					display: table;
					margin: auto;
					text-align: center;
				}
			}
		}
	}
	@include xSmall {
		.inner {
			#logo {
				
			}
		}
	}
}
#alert {
	width: 100%;
	height: auto;
	background: $gold;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	.message {
		width: calc(100% - 3.5em);
		padding: .25em 0 .25em 2em;
		text-align: center;
		float: left;
		line-height: 1em;
		.archive_alert {
			@include xSmallText;
			p {
				margin: 0;
			}	
		}
	}
	.close {
		width: 1.5em;
		height: 1.5em;
		float: left;
		display: flex;
		.circle {
			width: .75em;
			height: .75em;
			margin: auto;
			background: transparent;
			svg {
				transition: fill 500ms $ease
			}
		}
		&:hover {
			cursor: pointer;
			.circle svg {
				fill: $dark;
			}
		}
	}
	// position: fixed;
	// left: 1em;
	// top: 0;
	z-index: 1200;
}