header#header {
	width: 100%;
	height: auto;
  margin: 0;
  padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 600;
	transform: 0ms !important;
	background: rgba($lightest,.98);
	@include revealerText;
  .inner {
  	width: calc(100% - 4em);
		margin: 0 2em;
  	display: flex;
  	position: relative;
  }
  #logo {
		display: flex;
		align-content: center;
		padding: 0 2em 0 0;
		a.svg {
			display: table;
			margin: auto;
	    text-decoration: none;
			svg {
				width: calc(#{$logoWidth} - 1em);
				max-width: 50vw;
				height: auto;
				padding: .5em 0 0 0;
				fill: $dark;
				transition: fill 500ms $ease, opacity 500ms $ease;
			}
			&:hover {
				svg {
					fill: $gold;
				}
			}
		}
		.about {
			display: inline;
			margin-bottom: 1em;
		}
		em {
    	font-size: inherit;
    	line-height: inherit;
    }
	}
	.toggle {
		display: none;
	}
  .rows {
    padding: .5em 0;
  	display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    font-style: normal;
    font-weight: $black;
    text-transform: uppercase;
		font-weight: $regular;
    .tagline {
    	color: $medium;
    	flex: 1;
    	text-transform: lowercase;
    	@include xSmallText;
    }
    .navigation {
    	width: 100%;
	    nav {
	  		display: table;
	  		float: right;
	  		padding: 0;
				.link {
					float: right;
					display: inline;
					padding: 0;
					margin: 0 0 0 .5em;
					list-style: none;
					a {
				    text-decoration: none;
				    font-style: normal;
				    transition: color 500ms $ease, opacity 500ms $ease;
				    text-transform: lowercase;
				    // color: $lightest;
				    &:hover {
				    	color: $medium;
				    }
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		  &.break {
		  	flex-direction: column;
		  	.tagline, .links {
		  		display: table;
		  		margin: auto;
		  	}
		  }
		 //  &.filters {
			// 	// display: none;
			// 	.filter {
			// 		.toggle {
			// 			width: 100%;
			// 			user-select: none;
			// 			text-transform: lowercase;
			// 			@include xSmallText;
			// 			&:hover {
			// 				cursor: pointer;
			// 				color: $medium;
			// 			}
			// 		}
			// 		.list {
			// 			height: 0;
			// 			opacity: 0;
			// 			overflow: hidden;
			// 			color: $medium;
			// 			transition: height 500ms ease, opacity 500ms 30ms ease;
			// 			padding-left: .5em;
			// 			&.show {
			// 				opacity: 1;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
	.goldbar {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	@include medium {
		
	}
	@include small {
		.inner {
			width: calc(100% - 2em);
	    padding: .5em;
	    margin: 0 .5em;
	    display: block;
	    position: relative;
			#logo {
				width: calc(100% - 3em);
				padding: 0;
				a.svg {
					margin: 0;
					svg {
						width: 100%;
						display: block;
						padding: 0;
						margin: auto;
					}
				}
			}
			.rows {
				width: 100%;
				display: block;
				.row {
					width: auto;
					display: table;
					margin: 0;
					text-align: center;
					&.tagline {
						width: calc(100% - 3em);
						text-align: left;
					}
					&.navigation {
						width: 100%;
						max-height: 0;
						position: absolute;
						left: 0;
						top: 100%;
						@include mediumShadow($lightest);
						nav {
							width: calc(100% - 1em);
							padding: .5em;
							background-color: $lightest;
							.link {
								margin: 0 .5em 0 0;
								float: left;
							}
						}
					}
				}
			}
		}
		.toggle {
			display: table;
	    position: absolute;
			bottom: .85em;
			right: .5em;
			left: auto;
			display: block;
			background-color: transparent;
			box-shadow: none;
			border: none;
			.circle {
				box-shadow: none !important;
				background-color: transparent;
			}
		}
	}
	@include xSmall {
		.inner {
			#logo {
				
			}
		}
	}
}