body.home {
	.loop {
		.cell {
			.date {
				display: none;
			}
		}
	}
	#cover {
		position: relative;
		.header {
			position: relative;
			z-index: 100;
			strong {
				color: $dark;
				// text-shadow: 0 0 1em $gold;
			}
		}
		.date {
			color: $medium;
			// padding-top: 1em;
			text-align: right;
			position: relative;
			z-index: 100;
		}
		.circle {
			width: calc(5vw + 2em);
			height: calc(5vw + 2em);
			position: absolute;
			left: 40%;
			top: 25%;
			z-index: 0;
			background: $gold;
			border-radius: 50%;
		}
		.newsletter {
			padding: 4em 0;
			h2 {
				width: 100%;
				max-width: 15em;
				padding: 0 0 .5em 0; 
			}
			form {
				width: 100%;
				max-width: 25em;
				display: flex;
				input {
					margin: 0;
					text-align: center;
					border: 0;
					padding: 0;
					outline-color: $gold;
					line-height: 1.3em;
					&[type="text"] {
						width: calc(100% - .5em);
						padding: .25em .25em .35em .25em;
						box-shadow: 0px 0px .5em .05em $gold;
						background: $light;
						@include serifText;
						@include mediumText;
					}
					&[type="submit"] {
						max-width: 7em;
						padding: .25em .25em .35em .25em;
						background: $gold;
						color: $medium;
						font-weight: 600;
						box-shadow: 0px 0px .5em .05em $gold;
						transition: text-shadow 500ms $ease;
						&:hover {
							color: $dark;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
	.columns {
		width: 100%;
		.column {
			width: 100%;
			display: table;
			a {
				padding: .5em 0;
				text-decoration: none;
				border-bottom: 1px solid $medium;
				h1 {
					padding: 0;
					transition: text-shadow 500ms $ease;
					span {
						color: $medium;
						@include serifText;
					}
				}
				&:hover {
					h1 {
						color: $medium;
						span {
							opacity: .5;
						}
					}
				}
			}
		}
	}
	section {
		padding: 2em 0;
		.header {
			font-weight: $bold;
			color: $medium;
			em {
				@include serifText;
				@include mediumText;
			}
			a {
				text-decoration: none;
				color: $medium;
				&:hover {
					color: $dark;
				}
			}
		}
		.loop {
			padding-top: 1em;
			&#recent_column {
				.column {
					display: none;
				}
			}
			&#featured_tag {
				.cell {
					width: calc(100%/2 - 1em);
					margin: 0 0 2em 0;
				}
			}
			&#past_issue {
				article {
					h4 {
						font-weight: $regular;
					}
				}
			}
		}
	}
	@include desktop {
		.loop {
			&#featured_tag {
				.cell {
					.wrap {
						display: block;
						.primary, .secondary {
							width: 100%;
							padding: 0;
						}
						.secondary {
							padding: .5em 0 0 0;	
						}
					}
				}
			}
		}
	}
	@include tablet {
		.loop {
			&#featured_tag {
				.cell {
					.wrap {
						display: block;
						.primary {
							width: 100%;
						}
						.secondary {
							width: 100%;
						}
					}
				}
			}
		}
	}
}