body.home {
	main {
		.goldbar {
			margin: 3em 0;
		}
		.loop {
			.cell {
				&#cover {
					position: relative;
					.overlay {
						width: 100%;
					}
					.title {
						color: $dark;
						font-weight: $regular;
						text-align: left;
						position: relative;
						z-index: 100;
						padding: 0 0 .15em 0;
						// @include serifText;
						@include revealerText;
						@include xLargeText;
					}
					.lead, .date {
						color: $medium;
						// @include serifText;
						@include revealerText;
						// font-style: italic;
						position: relative;
						z-index: 100;
					}
					.loop {
						padding-top: 1em;
						.cell {
							.image {
								background-color: $dark;
								img {
									filter: grayscale(1);
									mix-blend-mode: screen;
								}
							}
						}
					}
					.newsletter {
						form {
							width: 100%;
							max-width: 25em;
							label {
								width: 100%;
								max-width: 15em;
								margin: -.5em 0 .5em 0;
								display: table;
								@include revealerText;
								@include largeText;
								font-weight: $regular;
							}
							.inputs {
								max-width: 20em;
								margin: auto;
							}
						}
					}
				}
			}
			&#current_issue {
				.cell {
					width: calc(50% - 2em);
					margin-bottom: 7em;
					&:nth-child(odd) {
						margin-right: 2em;
					}
					&:nth-child(even) {
						margin-left: 2em;
					}
				}
			}
		}
		.columns {
			width: 100%;
			.column {
				width: 100%;
				display: table;
				a {
					padding: .5em 0;
					text-decoration: none;
					border-bottom: 1px solid $medium;
					h1 {
						padding: 0;
						transition: all 500ms $ease;
						span {
							color: $medium;
							@include serifText;
							transition: opacity 500ms $ease;
						}
					}
					&:hover {
						h1 {
							color: $medium;
							transform: scale(1.005);
							span {
								opacity: .5;
							}
						}
					}
				}
			}
		}
		#field_notes {
			margin-top: 5em;
			img {
				width: 100%;
			}
			a.link_wrap:hover {
				.image {
					background-color: rgba($gold, .45);
					border-radius: 2em;
				}
			}
		}
		section {
			padding: 2em 0;
			.loop {
				padding-top: 1em;
			}
			&#featured_columns {
				.loop {
					article {
						margin-bottom: 0;
					}
				}
			}
		}
		@include large {
			.loop {
				&#featured_tag {
					.cell {
						.wrap {
							display: block;
							.primary, .secondary {
								width: 100%;
								padding: 0;
							}
							.secondary {
								padding: .5em 0 0 0;	
							}
						}
					}
				}
			}
		}
		@include small {
			section, .sections section {
				width: 100%;
				padding: 2em 0;
			}
			.loop {
				&#featured_tag {
					.cell {
						.wrap {
							display: block;
							.primary {
								width: 100%;
							}
							.secondary {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}