.loop {
  width: 100%;
	padding: 0;
	margin: 0;
	.max {
		max-width: $largeWidth;
	}
	.cell {
		float: left;
		transition: none;
		position: relative;
		.label {
			width: 100%;
			position: absolute;
	    left: 0;
	    bottom: 100%;
			display: table;
			margin: auto;
			&.categories {
				text-transform: uppercase;
				font-weight: $regular;
				@include xSmallText;
				padding: 0 0 .25em 0;
				text-align: center;
				color: $medium;
				.field-notes {
					font-weight: $black !important;
				}
			}
			&.column {
				@include mediumText;
			}
		}
		a.link_wrap {
			text-decoration: none;
	    display: block;
			&:hover, &:focus {
				.image, .missing {
					box-shadow: 0 0 5em 0 $gold;
				}
			}
		}
		&.hover {
			.image, .missing {
				box-shadow: 0 0 5em 0 $gold;
			}
		}
		.image {
			width: 100%;
			margin: 0;
			display: block;
			background-color: $lighter;
			transition: background-color 800ms $ease, opacity 800ms $ease, box-shadow 800ms $ease;
			img {
				width: 100%;
				max-width: 100%;
				height: auto;
				margin: 0 auto;
				display: table;
				opacity: 0;
			}
			img, svg {
				transition: opacity 500ms $ease;
			}
			&.loaded, &.missing {
				img, svg, object {
					opacity: 1;
				}
			}
		}
		.missing {
			height: 100%;
			background: $lighter;
			display: table;
			svg, object {
				width: 100%;
				height: auto;
				fill: $medium;					
				margin: auto;
				display: table;
				pointer-events: none;
			}
		}
		&.no_image {
			.primary .label.categories {
				padding: 0;
			}
			.secondary .title {
				max-width: 20em;
				display: table;
				margin: auto;
			}
		}
		.primary {
			.link_wrap {
				margin: 0 0 .5em 0;
			}
		}
		.secondary {
			.title {
				transition: color 500ms $ease;
				h2 {
					width: 100%;
					text-align: left;
					margin: 0;
					@include serifText;
			    word-break: break-word;
			    hyphens: auto;
					span.column {
						font-weight: $bold;
					}
				}
			}
			.meta {
				width: 100%;
				padding-top: .5em;
				color: $medium;
				@include xSmallText;
				a {
					color: $medium;
					display: inline;
					font-size: inherit;
					text-decoration: none;
				}
				.writer {
					padding-left: .5em;
				}
				.date {
					opacity: .5;
				}
			}
			.blurb {
				width: 100%;
				display: table;
				margin: auto;
				padding-top: .5em;
				color: $medium;
				font-style: italic;
				@include serifText;
				line-height: 1.1em;
			}
		}
		&.field-notes {
			@include monoText;
	    font-size: .85em;
			* {
				@include monoText;
			}
			.blurb {
				font-style: normal;
				font-weight: 600;
			}
		}
	}
	&.one {
		// background: $medium;
		.cell {
			width: 100%;
			margin: 0 0 2em 0;
			a.link_wrap {
				.image {
					a {
						display: table;
						margin: auto;
					}
				}
				.title {
					width: 100%;
					h2 {
						width: 100%;
						text-align: left;
					}
				}
				&:hover {
					.image {
						img {
							// box-shadow: 0 10em 10em -10em $gold;
						}
					}
				}
			}
			.blurb {
				max-width: 25em;
			}
		}
	}
	&.one_col {
		.cell {
			width: 100%;
			margin: 0 0 3em 0;
		}
	}
	&.two_col {
		.cell {
			width: calc(100%/2 - 1.5em);
			margin: 0 0 3em 0;
		}
	}
	&.three_col {
		.cell {
			width: calc(100%/3 - (3em - 3em/3));
			margin: 0 0 3em 0;
			&.large {
				width: calc(100%/1.5 - (3em - 3em/3));
			}
		}
	}
	&.four_col {
		.cell {
			width: calc(100%/4 - (1em - 1em/4));
			margin: 0 0 1em 0;
		}
	}
	&.five_col {
		.cell {
			width: calc(100%/5 - (1em - 1em/5));
			margin: 0 0 1em 0;
		}
	}
	&.list {
		.row {
			width: 100%;
			@include serifText;
			float: none;
			.title {
				.categories {
					margin: 0;
				}
			}
			.meta {
				margin: 0;
			}
			.blurb {
				margin-bottom: 2em;
			}
			a.title {
				display: inline;
				&:hover {
					opacity: .5;
				}
			}
			.date {
				display: inline;
				color: $light;
				margin-right: .5em; 
			}
			.writer {
				display: inline;
				color: $light;
				margin-left: .25em; 
			}
		}
	}
	&.xsmall, &.xxsmall {
		.cell {
			a.link_wrap {
				&:hover {
					cursor: pointer;
				}
			}
			.image {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	&.xxsmall {
		.cell {
			width: calc(10% - .5em);
			margin-bottom: .5em;
			.image {
				img {
				}
			}
		}
	}
	&.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
		&.two_col {
			.cell {
				width: calc(50% - 1em);
				&:nth-child(odd) {
					margin-right: 1em;
				}
				&:nth-child(even) {
					margin-left: 1em;
				}
			}
		}
		&.three_col {
			
		}
		&.four_col {
			.cell {
				width: calc(25% - 1em);
				margin-right: calc(1em + 1em/3);
				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
		}
		&.five_col {
			.cell {
				width: calc(20% - 1em);
				margin-right: calc(1em + 1em/4);
				&:nth-child(5n+5) {
					margin-right: 0;
				}
			}
		}
	}
}
.pagination {
	width: 100%;
	padding: 2em 0 4em 0;
	display: table;
	.paginate {
		width: 50%;
		height: 1.5em;
		float: left;
		position: relative;
		a {
			text-decoration: none;
			.text {
				width: auto;
				height: 1.5em;
				position: absolute;
				top: 0;
				display: flex;
				align-items: center;
				transition: transform 500ms $ease;
				em {
					display: table-cell;
					vertical-align: middle;
					opacity: $medium;
					@include serifText;
				}
			}
			.circle {
				display: flex;
			}
			svg {
				width: auto;
				height: 75%;
		    display: table;
		    margin: auto;
		    fill: $medium;
			}
			&:hover {
				.circle {
	        @include largeShadow($lightest);
	        transform: scale(1.09);
	      }
			}
		}
		&.prev {
			a {
				float: left;
				.text {
					left: 0;
					padding-left: 2.75em;
					text-align: left;
				}
				svg {
					transform: translateX(-.1em);
				}
				&:hover {
					.text {
						transform: translateX(.25em);
					}
				}
			}
		}
		&.next {
			a {
				float: right;
				.text {
					right: 0;
					padding-right: 2.75em;
					text-align: right;
				}
				svg {
					transform: translateX(.1em);
				}
				&:hover {
					.text {
						transform: translateX(-.25em);
					}
				}
			}
		}
	}
}
@include large {
	.loop {
		
	}
}
@include medium {
	.loop {
		&.four_col {
			.cell {
				width: calc(100%/2 - .5em);
				margin-bottom: 1em;
			}
		}
		&.three_col {
			.cell {
				width: calc(100%/2 - .5em);
				margin-bottom: 1em;
			}
		}
	}
	body.articles {
		.loop {
			&.two_col {
				.cell {
					// width: 100%;
					// margin-bottom: 1em;
				}
			}
		}
	}
}
@include small {
	.loop {
		&.two_col {
			.cell {
				width: 100% !important;
				margin: 0 auto 3em auto !important;
				.secondary {
					.title {
						max-width: 100%;
						text-align: left;
						margin: 0;
					}
					.meta, .blurb {
						display: block;
					}
				}
			}
		}
		&.four_col {
			&.masonry {
				.cell {
					width: calc(100%/2 - 1em);
					margin-bottom: 2em;
				}
			}
			&.grid {
				.cell {
					width: calc(50% - 1em);
					margin-bottom: 2em;
					&:nth-child(odd) {
						margin-right: 1em;
						margin-left: 0;
					}
					&:nth-child(even) {
						margin-left: 1em;
						margin-right: 0;
					}
				}
			}
		}
		&.five_col {
			&.grid {
				.cell {
					width: calc(100%/3 - 1em);
			    margin-right: calc(1em + 1em/3) !important;
					margin-bottom: 1.5em;
					&:nth-child(3n+3) {
						margin-right: 0 !important;
					}
				}
			}
		}
	}
	.pagination {
		width: calc(100% - 1em);
		padding-left: .5em;
		padding-right: .5em;
	}
}	
@include xSmall {
	.loop {
		&.one_col, &.two_col, &.three_col, &.four_col, &.five_col {
			.cell, article,  &.grid .cell,  &.grid article {
				width: 100% !important;
				margin-bottom: 2em !important;
				margin-right: 0 !important;
				margin-left: 0 !important;
			}
		}
	}
	.pagination {
		// padding: 2em 0;
	}
}