.loop {
  width: 100%;
	padding: 0;
	margin: 0;
	.max {
		max-width: $desktopWidth;
	}
	.cell {
		transition-duration: 0ms;
		a.link_wrap {
			text-decoration: none;
	    display: block;
	    overflow: hidden;
			.image {
				margin: 0 auto .25em auto;
				display: table;
				background: $gold;
				img {
					width: auto;
					max-width: 100%;
					height: auto;
					margin: 0 auto;
					display: none;
					filter: grayscale(1);
				}
				&.loaded {
					background: transparent;
					img {
						display: table;
					}
				}
			}
			.missing {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				// background: $medium;
				display: table;
				svg, object {
					width: 100%;
					height: auto;
					fill: $dark;					
					margin: auto;
					display: table;
				}
			}
			.title {
				h2 {
					width: 100%;
					text-align: left;
					margin: 0;
					// font-weight: 100;
					// @include serifText;
				}
				.column {
					h3 {
						color: $medium;
					}
				}
			}
		}
		.excerpt {
			width: 100%;
			color: $medium;
			padding-top: .25em;
			@include xSmallText;
			.more {
				display: table;
				margin-top: 1em;
				text-decoration: none;
				&::after {
					content: '>';
					margin-left: .25em;
				}
			}
		}
		.meta {
			padding-top: .5em;
			line-height: 0;
			@include xSmallText;
			span {
				padding: 0 1em 0 0;
				font-weight: 100;
				color: $medium;
				a {
					text-decoration: none;
					display: inline;
					color: $medium;
				}
				&:last-child {
					padding: 0;
				}
			}
		}
		&.category {
			&.no_thumb {
				.title a h2 {
					font-weight: 900 !important;
					@include mediumText;
				}
			}
			&.has_thumb {

			}
			.title {
				h2 {
					display: table;
					margin: auto;
				}
			}
		}
		&.post {
		}
		&.category {
			.info {
				.title {
					h2 {
						text-align: center !important;
					}
				}
			}
		}
		&.contributor {
			a {
				text-decoration: none;
			}
		}
	}
	&.large {
		// background: $medium;
		.cell {
			width: 100%;
			margin: 0;
			.image {
				a {
					display: table;
					margin: auto;
				}
			}
			.info {
				width: 100%;
				.title {
					width: 100%;
					a {
						display: table;
						margin: auto;
						h2 {
							width: 100%;
							@include largeText;
							text-align: center;
						}
					}
				}
			}
			.excerpt {
				width: 80%;
				max-width: 25em;
				display: table;
				margin: auto;
			}
			.meta {
				display: table;
				margin: auto;
			}
		}
	}
	&.medium {
		.cell {
			width: calc(100%/2 - 1.5em);
			margin: 0 0 3em 0;
			// background: $medium;
		}
	}
	&.small {
		.cell {
			width: calc(100%/3 - 2em);
			margin: 0 0 3em 0;
		}
	}
	// &.xsmall {
	// 	display: table;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	@include xSmallText;
	// 	.cell {
	// 		width: calc(100%/4);
	// 		margin: 0 0 4em 0;
	// 	}
	// }
	&.xsmall, &.xxsmall {
		width: 100%;
		display: table;
		.cell {
			width: calc(20% - .1em);
			margin-bottom: .5em;
			height: auto;
			display: table;
			float: left;
			transition-duration: 0ms !important;
			background: $gold;
			a.link_wrap {
				display: table !important;
				&:hover {
					cursor: pointer;
				}
			}
			.image {
				display: inline;
				img {
					width: 100%;
					height: auto;
					display: none;
					filter: grayscale(1);
					mix-blend-mode: multiply;
				}
				&.loaded {
					background: transparent;
					img {
						display: table;
					}
				}
			}
		}
	}
	&.xsmall {
		.cell {
			width: calc(20% - .1em);
		}
	}
	&.xxsmall {
		.cell {
			width: calc(10% - .1em);
		}
	}
	&.discovery {
		width: 100%;
		padding: 0;
		.cell {
			margin: 0 !important;
			.wrap {
				display: table;
				padding: 80px;
				margin: auto;
				text-align: center; 
				a {
			  	overflow: visible;
			  	font-weight: 100;
			  	text-decoration: none;
			  	&:hover {
			  		opacity: .5;
			  	}
			  	.image {
			  		background: $gold;
				  	img {
				  		width: 100%;
				  		mix-blend-mode: multiply;
				  	}
				  }
				}
			}
	  }
	}
}