body, html {
	@include tablet {
		#wrapper, #wrapper.split, #wrapper.full {
			display: block;
			main {
				width: calc(100% - 2em);
				margin: 0 1em 2em 1em;
				.readable {
					width: 100%;
					padding-right: 0;
					.pagination {
						.paginate {
							.text {
								display: none;
							}
							.circle {
								width: 1.5em;
								height: 1.5em;
							}
						}
					}
				}
				.nested {
					display: table;
					margin: auto !important;
				}
				.split_box {
					section {
						width: 100%;
						padding: 0 0 2em 0;
					}
				}
			}
		}
		&.single-post {
			aside header {
				.info {
					clear: both;
					.title {
						h1 {
							text-align: center;
						}
					}
					.excerpt, .meta, .tags {
						max-width: $lineWidth;
						display: table;
						margin-left: auto;
						margin-right: auto;
					}
					.images {
						display: none;
					}
				}
			}
			main {
				article {
					margin: auto;
					padding-top: 2em;
					.wp-caption {
						width: 100% !important;
						float: none !important;
						.wp-caption-text {
							text-align: center;
						}
					}
					.image {
						width: 100%;
						display: table;
						padding: 1em 0;
						img {
							width: auto !important;
							max-width: 100% !important;
							display: table !important;
							margin: auto !important;
							float: none !important;
						}
					}
				}
			}
		}
		#isMobile {
			content: '1';
		}
	}
	@include phone {
		#wrapper, #wrapper.split, #wrapper.full {
			main {
				width: calc(100% - 1em);
		    margin: .5em .5em 4em .5em;
			}
		}
	}
}