@include tablet {
	body, html {
		header {
			.inner {
				display: block;
				padding: .5em 0;
				#logo {
					width: calc(100% - 2em);
					padding: 0 1em;
					svg {
						width: 50%;
						display: table;
						padding: 0;
						margin: auto;
					}
				}
				.rows {
					width: calc(100% - 2em);
					padding: 0 1em;
					.row {
						width: auto;
						display: table;
						margin: auto;
						text-align: center;
					}
				}
			}
		}
		#wrapper {
			aside {
				width: calc(100% - 2em);
				height: auto !important;
				position: static !important;
				padding: 0 1em;
				.content {
					margin: 0;
					padding: 0;
					#filters {
						margin: 0 0 1em 0;
						.filter {
							.list {
								height: 0;
							}
						}
					}
				}
			}
			main {
				width: calc(100% - 2em);
				margin: 0 1em;
				.readable {
					width: 100%;
					padding-right: 0;
					.pagination {
						.paginate {
							.text {
								display: none;
							}
							.circle {
								width: #{$gutter * .75};
								height: #{$gutter * .75};
							}
						}
					}
				}
				.nested {
					display: table;
					margin: auto !important;
				}
				.split {
					section {
						width: 100%;
						padding: 0 0 2em 0;
					}
				}
			}
		}
		&.single-post {
			aside header {
				.info {
					clear: both;
					.title {
						h1 {
							text-align: center;
						}
					}
					.excerpt, .meta, .tags {
						max-width: $lineWidth;
						display: table;
						margin-left: auto;
						margin-right: auto;
					}
					.images {
						display: none;
					}
				}
			}
			main {
				article {
					margin: auto;
					padding-top: 2em;
					.wp-caption {
						width: 100% !important;
						float: none !important;
						.wp-caption-text {
							text-align: center;
						}
					}
					.image {
						width: 100%;
						display: table;
						padding: 1em 0;
						img {
							width: auto !important;
							max-width: 100% !important;
							display: table !important;
							margin: auto !important;
							float: none !important;
						}
					}
				}
			}
		}
	}
	#isMobile {
		content: '1';
	}
}