header, footer {
	padding: 2em 0;
	background: $gold;
	svg {
		width: 100%;
		height: auto;
		display: table;
	}
}
header {

}
footer {
	transform: rotateZ(180deg) rotateY(180deg)
}
nav {
  font-family: Clarendon;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  ul {
  	width: 100%;
  	padding: 0;
  	margin: 0;
  	display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
    justify-content: space-around;
		li {
			float: left;
			padding: 0 .5em;
			margin: 0 auto;
			list-style: none;
			a {
		    text-decoration: none;
		    font-family: Clarendon;
		    font-weight: 500;
		    font-size: 1.4em;
		    font-style: normal;
		    text-transform: lowercase;
		    text-align: center;
			}
			&:first-child {
				padding-left: 0;
				margin-left: 0;
			}
			&:last-child {
				padding-right: 0; 
				margin-right: 0;
			}
		}
		&.sub {
    	margin-top: .5em;
    	li a {
	    	font-size: 1em;
	    }
		}
	}
	&.top {

	}
	&.bottom {
		
	}
}