.single-post {
	aside {
		#about {
			width: 100%;
			.info {
				width: 100%;
				.title {
					padding: 0 0 1em 0;
					@include serifText;
					h2 {
						color: $medium;
						@include sansSerifText;
					}
					h1 {
						width: 100%;
						text-align: left;
						margin: 0;
						text-transform: none;
						span {
							opacity: .2;
						}
					}
				}
				.meta {
					width: 100%;
					padding: .5em 0;
					display: table;
					margin: auto;
					.row {
						width: 100%;
						display: flex;
						padding: 0 0 .25em 0;
						div {
							@include xSmallText;
							&.label {
								padding-right: .25em;
								text-align: left;
							}
							&.value {
								padding-left: .25em;
								text-align: right;
								flex: 1;
							}
						}
						a {
							text-decoration: none;
							color: $dark;
							&:hover {
								color: $medium;
							}
						}
					}
				}
				.excerpt {
					width: 100%;
					padding: .5em 0;
					p {
						opacity: .5;
						@include xSmallText;
					}
				}
				.more {
					margin: .5em 0;
					@include xSmallText;
					opacity: .5;
					a {
						text-decoration: none;
						border-bottom: 1px solid $medium;
					}
				}
			}
			.images {
				padding: .5em 0;
				.transport {
					.image {
						img {
							width: 100%;
						}
					}
					&:hover {
						cursor: pointer;
					}
				}
			}
			.tags {
				padding: 0;
				ul {
					line-height: 1em;
					li {
						@include serifText;
						font-style: italic;
						line-height: 1em;
					}
				}
			}
		}
	}
	#wrapper {
		main {
			article.readable {
				width: calc(100% - 4em);
				padding: 2em 2em 0 2em;
				opacity: 0;
				&.show {
					opacity: 1;
				}
				.max {
					max-width: $lineWidth;
					margin: 0;
				}
				.text {
					* {
						color: $dark !important;
					}
					.excerpt {
						padding: 0 0 2em 0;
						text-align: center;
						opacity: .5;
						h2 {
							@include serifText;
						}
					}
					.content {
						padding-bottom: 2em;
					}
					p {
						a {
							text-decoration: none;
							border-bottom: .1em solid $gold;
							color: $dark;
							&:hover {
								background-color: $gold;
								// border-bottom-color: transparent;
							}
							&.ftn {
								width: 1em;
								height: 1em;
								display: inline-block;
								border: 1px solid $medium;
								border-radius: 50%;
								color: $medium !important;
								text-align: center;
								padding: .2em;
								&.super {
							    transform: translateY(-.5em);
							    @include xxSmallText;
							    line-height: 1em;
								}
								&.ref {
									@include xSmallText;
									line-height: 1em;
								}
								&:focus {
									outline: none;
									background-color: $gold;
								}
							}
						}
					}
					.image {
						img {
							display: inline;
						}
					}
					iframe {
						width: 100%;
					}
					blockquote, {
						font-style: italic;
						@include mediumText;
						@include italicText;
						* {
							font-family: 'Cardo';
							@include italicText;
							color: $dark;
							font-weight: normal;
							font-style: normal;
							text-decoration: none;
							font-size: 1em;
							line-height: 1.2em;
						}
					}
					.wp-caption {
						a {
							display: inline-table;
						}
						max-width: 100%;
						img {
							max-width: 100%;
							height: auto;
							display: table;
						}
						.wp-caption-text {
							padding: .5em 0 0 0;
							opacity: 0.8;
							// background: $medium;
							@include xSmallText;
						}
						&:first-child {
							margin-top: 0;
						}
					}
					img {
						max-width: 50%;
						height: auto;
						// border: .5em solid $medium;
					}
					img, div {
						&.aligncenter {
							max-width: 100%;
							clear: both;
					    display: block;
					    margin: 1em auto;
						}
						&.alignleft {
							float: left;
							margin: 1em 1em 1em 0;
						}
						&.alignright {
							float: right;
					    margin: 1em 0 1em 1em;
					    &.wp-caption {
			    	    // transform: translateX(2.95em);
					    }
						}
					}
				}
			}
			.image {
				background: rgba($medium,.1);
				// transition: background 600ms $ease;
				img {
					display: inline;
					opacity: 0 !important;
					transition: opacity 600ms $ease;
				}
				&.loaded {
					background: rgba($medium,0);
					img {
						opacity: 1 !important;
					}
				}
			}
			.transport.top {
				position: fixed;
				right: 2em;
				bottom: 2em;
				z-index: 700;
				transition: transform 200ms ease-in-out;
				display: flex;
				&:hover {
					cursor: pointer;
				}
				span {
					display: table;
					margin: auto;
					@include xSmallText;
					line-height: 0;
					font-family: 'Clarendon';
				}
				svg {
					width: 75%;
					height: 75%;
			    display: table;
			    margin: auto;
			    fill: $medium;
				}
			}
		}
	}
	@include tablet {
		#wrapper {
			aside {
				.images, .tags {
					display: none !important;
				}
			}
			main {
				article.readable {
					width: 100%;
					padding-right: 0;
					padding-left: 0;
					.max {
						margin: auto;
					}
				}
				.transport.top {
					right: 1em;
					bottom: 1em;
				}
			}
		}
	}
}