.rows {
	.sections {
		padding: 0 0 2em 0;
		section {
			a {
				text-decoration: none;
			}
			h1.title {
				@include sansSerifText;
				@include xLargeText;
				font-weight: $regular;
				em {
					font-family: $serif;

				}
			}
			h2 {
				color: $medium;
				font-weight: $regular;
				text-align: center;
				position: relative;
				z-index: 100;
				@include serifText;
			}
		}
	}
}