body.search {
	.search_header {
		width: 100%;
		max-width: $lineWidth;
		margin: auto;
		// display: flex;
    // flex-direction: row;
		#searchform {
			width: 100%;
			margin: 0 0 2em 0;
		}
	}
	.loop {
		margin-top: 2em;
	}
}
#searchform {
	width: 100%;
	form {
		width: 100%;
		display: table;
		margin: auto;
		label {
			em {
				opacity: 0;
			}
		}
		input {
			border: 0;
			background: $light;
			padding: 0;
			outline-color: $gold;
			padding: .25em .25em .35em .25em;
			box-shadow: 0px 0px .5em .05em $gold;
			&#searchbox {
				width: 100%;
				margin: 0;
				// border-bottom: .125em solid $gold;
				text-align: center;
				@include serifText;
				@include largeText;
			}
		}
	}
}