body.search, body.tag {
	.search_header {
		width: 100%;
		margin: auto;
		.text {
			h1 {
				text-align: left;
				font-weight: $black;
				em {
					@include serifText;
					@include mediumText;
					font-weight: $regular;
					&:focus {
						outline: none;
					}
				}
			}
		}
		#searchform {
			width: 100%;
			max-width: 40em;
			padding: 3em 0 2em 0;
			margin: auto;
		}
	}
	.loop {
		margin-top: 2em;
	}
}
#searchform {
	width: calc(100% - 4em);
	padding: 0 2em;
	pointer-events: none;
	form {
		width: 100%;
		height: 5em;
		display: table;
		margin: auto;
		label {
			width: 100%;
			position: relative;
			display: table;
			em {
				opacity: 0;
				position: absolute;
				left: -99999%;
			}
			&::before {
	    	width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				margin: 0;
				border-radius: 1em;
	    	content: '';
	    	@include xLargeText;
	    	display: inline-block;
	    	box-shadow: 0 0 100px 55px $gold;
	    	transition: all 500ms $ease;
	    	z-index: 0;
	    }
	    &:hover {
	    	&::before {
	    		transform: scale(1.015);
	    		transition: all 700ms $ease;
	    	}		
    	}
		}
		input {
			&#searchbox {
				width: 100%;
				height: 100%;
				z-index: 100;
				margin: 0;
				border-radius: 1em;
				text-align: center;
				border: 0;
				background: $lightest;
				padding: 0;
				outline-color: $gold;
				padding: .25em .25em .35em .25em;
				@include xLargeText;
				@include serifText;
				line-height: 1.3em;
				transition: all 500ms $ease;
				backface-visibility: hidden;
        pointer-events: all;
				&:focus, &:hover {
	      	outline: none;
	      	transform: scale(1.015);
	      	// box-shadow: 0 0 500px 5px $gold;
	      	transition: all 700ms $ease;
	      }
			}
		}
	}
	@include xSmall {
		
	}
}