aside {
	width: calc(#{$sideWidth} - 1em);
	@include tablet {
		width: calc(#{$mobSideWidth} - 1em);
	}
	height: 100%;
	padding-left: 1em;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
  flex-direction: column;
  overflow-y: hidden;
  z-index: 300;
	.content {
		// flex: 1;
		margin: 0 0 1em 0;
		padding: 0 0 1em 0;
	}
	// #filters {
	// 	margin: .25em 0 1em 0;
	// 	flex: 1;
	// 	.filter {
	// 		.toggle {
	// 			width: 100%;
	// 			padding: .5em 0;
	// 			user-select: none;
	// 			text-transform: lowercase;
	// 			font-family: Clarendon;
	// 			&:hover {
	// 				cursor: pointer;
	// 				color: $medium;
	// 			}
	// 		}
	// 		.list {
	// 			height: 0;
	// 			opacity: 0;
	// 			overflow: hidden;
	// 			color: $medium;
	// 			transition: height 300ms ease, opacity 100ms 30ms ease;
	// 			padding-left: .5em;
	// 			&.show {
	// 				opacity: 1;
	// 			}
	// 		}
	// 	}
	// }
	.list {
		display: flex;
		flex-wrap: wrap;
		h4 {
			font-weight: 900;
			display: inline;
			margin-right: .5em;
			&::after {
				content: ' ';
			}
		}
		ul {
			display: table;
			margin: .5em 0;
			padding: 0;
			li {
				display: inline-block;
				color: $medium;
				a {
					text-decoration: none;
					@include xSmallText;
					color: $dark;
					&:hover {
						color: $medium;
					}
				}
				&::after {
					content: ',';
					margin-right: .3em;
				}
				&:last-of-type::after {
					display: none;
				}
				&.empty {
					opacity: .5;
				}
				.list {

				}
				&.selected {
					a {
						// color: $gold;
						border-bottom-color: $dark;
					}
				}
			}
		}
	}
}
#wrapper.bottom {
	position: relative;
	aside {
		height: 100vh;
		position: absolute;
		top: auto !important;
		bottom: 0;
	}
}