#wrapper {
	aside {
		width: calc(#{$sideWidth} - 2em);
		height: 100%;
		padding-left: 2em;
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
	  flex-direction: column;
	  overflow-y: scroll;
	  z-index: 300;
	  -webkit-overflow-scrolling: touch;
		.content {
			// flex: 1;
			margin: 0 0 1em 0;
			padding: 2em 0;
		}
		#filters {
			margin: .25em 0 1em 0;
			flex: 1;
			.filter {
				a {
					@include xSmallText;
					text-decoration: none;
					color: $medium;
				}
				.toggle {
					width: 100%;
					padding: 0;
					user-select: none;
					font-weight: $regular;
					text-transform: uppercase;
				}
			}
			.commas {
				opacity: 0;
				overflow: hidden;
				color: $medium;
				transition: height 300ms ease, opacity 100ms 30ms ease;
				padding-bottom: 1em;
				&.show {
					opacity: 1;
				}
			}
		}
		.commas {
			display: flex;
			flex-wrap: wrap;
			h4 {
				font-weight: $black;
				display: inline;
				margin-right: .5em;
				&::after {
					content: ' ';
				}
			}
			span {
				display: inline-block;
				color: $medium;
				a {
					display: inline;
					color: $dark;
					&:hover {
						color: $medium;
						border-bottom: 1px solid $gold;
					}
				}
				&::after {
					display: inline;
					content: ',';
					margin-right: .3em;
				}
				&:last-of-type::after, &.label::after {
					display: none;
				}
				&.empty {
					opacity: .5;
				}
				&.selected {
					a {
						border-bottom: 1px solid $dark;
						&:hover {
							border-bottom-color: $medium;
						}
					}
				}
			}
		}
		&.fixed {
			position: fixed;
		}
		&.bottom {
			position: relative;
			aside {
				height: 100vh;
				position: absolute;
				top: auto !important;
				bottom: 0;
			}
		}
		@include medium {
			width: calc(#{$sideWidth*.75} - 2em);
		}
		@include small {
			width: calc(100% - 1em);
			height: auto !important;
			position: static !important;
			padding: 1em .5em .5em .5em;
			.content {
				margin: 0;
				padding: 0;
				#filters {
					margin: 0 0 1em 0;
					.filter {
						.list {
							height: 0;
						}
					}
				}
			}
		}
	}
}