.single {
	aside {
		header {
			width: calc(100% - 1em);
			padding: 0 0 1em 1em;
			.info {
				width: 100%;
				.title {
					padding: 0 0 1em 0;
					h1 {
						width: 100%;
						text-align: center;
						margin: 0;
						text-transform: none;
						span {
							opacity: .2;
						}
					}
				}
				.meta {
					width: calc(100% - 2em);
					padding: .5em 1em;
					display: table;
					margin: auto;
					.row {
						width: 100%;
						display: table;
						padding: 0 0 .25em 0;
						div {
							width: calc(50% - .25em);
							float: left;
							@include xSmallText;
							&:first-child {
								padding-right: .25em;
								text-align: left;
							}
							&:last-child {
								padding-left: .25em;
								text-align: right;
							}
						}
					}
				}
				.excerpt {
					width: calc(100% - 2em);
					padding: .5em 1em;
					opacity: .5;
					.more {
						display: table;
						margin-top: 1em;
						text-decoration: none;
						opacity: .5;
						color: $light;
						&::after {
							content: '>';
							margin-left: .25em;
						}
					}
				}
			}
			.images {
				width: 100%;
				padding: .5em 0;
				display: table;
				.image {
					width: calc(25% - .5em);
					margin-bottom: .5em;
					height: auto;
					display: table;
					float: left;
					transition-duration: 0ms !important;
					background: $gold;
					img {
						width: 100%;
						height: auto;
						display: none;
						filter: grayscale(1);
					}
					&.loaded {
						background: transparent;
						img {
							display: table;
						}
					}
				}
			}
		}
	}
	.alert {
		width: calc(100% - 4em);
		padding: 1em;
		margin: 0 1em;
		text-align: center; 
		background: rgba(red, .2);
	}
	article {
		max-width: 30em;
		.text {
			padding: 2em;
			p {

			}
			a {
				text-decoration: none;
				background-color: $medium;
				&:hover {
					background-color: $gold;
				}
			}
			blockquote, {
				font-family: 'Cardo';
				font-style: italic;
				@include mediumText;
				* {
					font-family: 'Cardo';
					@include largeText;
					font-style: italic;
					color: black;
					font-weight: normal;
					font-style: normal;
					text-decoration: none;
					font-size: inherit;
					line-height: 1.2em;
				}
			}
			.wp-caption {
				a {
					display: table;
				}
				max-width: 100%;
				img {
					width: 100%;
					height: auto;
					display: table;
				}
				.wp-caption-text {
					padding: .5em 0 0 0;
					opacity: 0.8;
					// background: $medium;
					@include xSmallText;
				}
			}
			img {
				width: 50%;
				height: auto;
				// border: .5em solid $medium;
			}
			img, div {
				&.aligncenter {
					clear: both;
			    display: block;
			    margin: 1em auto;
				}
				&.alignleft {
					float: left;
					margin: 1em 1em 1em 0;
				}
				&.alignright {
					float: right;
					margin: 1em 0 1em 1em;
				}
			}
		}
	}
}
.bar {
	.solid {
		width: 0;
	}
}