.single {
	aside {
		header {
			width: 100%;
			.info {
				width: 100%;
				.title {
					padding: 1em 0;
					@include serifText;
					h2 {
						color: $medium;
						@include sansSerifText;
					}
					h1 {
						width: 100%;
						text-align: left;
						margin: 0;
						text-transform: none;
						line-height: 1.3em;
						span {
							opacity: .2;
						}
					}
				}
				.meta {
					width: 100%;
					padding: .5em 0;
					display: table;
					margin: auto;
					.row {
						width: 100%;
						display: table;
						padding: 0 0 .25em 0;
						div {
							width: calc(50% - .25em);
							float: left;
							@include xSmallText;
							&:first-child {
								padding-right: .25em;
								text-align: left;
							}
							&:last-child {
								padding-left: .25em;
								text-align: right;
							}
						}
						a {
							text-decoration: none;
							border-bottom: 1px solid $medium;
							&:hover {
								color: $medium;
							}
						}
						&.progress {
							display: flex;
							div {
								width: auto;
								&.progbar {
									margin-left: 1em;
									flex: 1;
									transform: translateY(.15em);
									// border: solid rgba($dark, .5);
									// border-width: 0 1px 1px 1px;
									padding: 0 !important;
									.solid {
										padding: 0;
										height: 100%;
									}
								}
							}
						}
					}
				}
				.excerpt {
					width: 100%;
					padding: .5em 0;
					.inner {
						opacity: .5;
						@include xSmallText;
					}
				}
			}
			.images {
				padding: .5em 0;
			}
			.tags {
				padding: 0;
				ul {
					li {
						// border-bottom: 1px solid $medium;
						// @include xSmallText;
						font-style: italic;
					}
				}
			}
		}
	}
	article {
		max-width: $lineWidth;
		padding: 0;
		opacity: 0;
		&.show {
			opacity: 1;
		}
		.text {
			* {
				color: $dark !important;
			}
			p {
				a {
					text-decoration: none;
					border-bottom: .1em solid $gold;
					color: $dark;
					&:hover {
						background-color: $gold;
						// border-bottom-color: transparent;
					}
					&.ftn {
						width: 1em;
						height: 1em;
						display: inline-block;
						border: 1px solid $medium;
						border-radius: 50%;
						color: $medium !important;
						text-align: center;
						padding: .2em;
						&.super {
					    transform: translateY(-.5em);
					    @include xxSmallText;
					    line-height: 1em;
						}
						&.ref {
							@include xSmallText;
							line-height: 1em;
						}
						&:focus {
							outline: none;
							background-color: $gold;
						}
					}
				}
			}
			.image {
				background: $gold;
				img {
					opacity: 0 !important;
				}
				&.loaded {
					background: transparent;
					img {
						opacity: 1 !important;
					}
				}
			}
			blockquote, {
				font-style: italic;
				@include mediumText;
				@include italicText;
				* {
					font-family: 'Cardo';
					@include italicText;
					color: $dark;
					font-weight: normal;
					font-style: normal;
					text-decoration: none;
					font-size: 1em;
					line-height: 1.2em;
				}
			}
			.wp-caption {
				a {
					display: table;
				}
				max-width: 100%;
				img {
					width: 100%;
					height: auto;
					display: table;
				}
				.wp-caption-text {
					padding: .5em 0 0 0;
					opacity: 0.8;
					// background: $medium;
					@include xSmallText;
				}
			}
			img {
				width: 50%;
				height: auto;
				// border: .5em solid $medium;
			}
			img, div {
				&.aligncenter {
					clear: both;
			    display: block;
			    margin: 1em auto;
				}
				&.alignleft {
					float: left;
					margin: 1em 1em 1em 0;
				}
				&.alignright {
					float: right;
			    // margin: 1em 0 1em -2em;
			    &.wp-caption {
	    	    // transform: translateX(2.95em);
			    }
				}
				img.alignright {
					// transform: translateX(0px);
					margin: 0;
					display: table;
					// padding: 1em 0 1em 1em;
					// margin-right: -2em;
				}
			}
		}
	}
}
.progbar {
	width: 100%;
	height: 1em;
	position: relative;
	padding: 0;
	background: $medium;
	.solid {
		width: 0;
		height: 1em;
		position: absolute;
		left: 0;
		top: 0;
		background: $medium;
	}
}