#tags {
	.commas {
		@include largeText;
		line-height: 1.5em;
		span {
			@include serifText;
			font-style: italic;
			a, a:hover {
				border-bottom: 2px solid $gold !important;
			}
		}
	}
	@include small {
		.commas {
			@include xMediumText;
		}
	}
}