@import 'webfonts';
///////////////////////////////////////////////////////////////
///////////////////////////COLORS//////////////////////////////
///////////////////////////////////////////////////////////////
$gold: #fecf0c;
$lightGold: rgba($gold, .45);
$lighterGold: rgba($gold, .15);
$dark: #346378;
$medium: #8f9da2;
$light: #86a1ad;
$lighter: #eaedee;
$lightest: #f1f5f7;

// $dark: rgba(#1a172e, 1);
// $light: #5aa078;

///////////////////////////////////////////////////////////////
///////////////////////TEXT SIZE///////////////////////////////
///////////////////////////////////////////////////////////////
@mixin baseText {
	font-size: 20px;
	line-height: 1.4em;
	@include small {
		font-size: 18px;
	}
}
@mixin xxSmallText {
	font-size: .62em;
	line-height: 1.4em;
}
@mixin xSmallText {
	font-size: .8em;
	line-height: 1.2em;
}
@mixin smallText {
	font-size: 1em;
	line-height: 1.3em;
}
@mixin mediumText {
	font-size: 1.2em;
	line-height: 1.4em;
}
@mixin xMediumText {
	font-size: 1.5em;
	line-height: 1.1em;
	@include xSmall {
		font-size: 1.2em;
		line-height: 1.4em;
	}
}
@mixin largeText {
	font-size: 2em;
	line-height: 1.1em;
}
@mixin xLargeText {
	font-size: 2.3em;
	line-height: 1.1em;
	@include xSmall {
		font-size: 2em;
	}
}
@mixin xxLargeText {
	font-size: 3.5em;
	line-height: 1.1em;
	@include xSmall {
		font-size: 3em;
	}
}
///////////////////////////////////////////////////////////////
///////////////////////////FONTS///////////////////////////////
///////////////////////////////////////////////////////////////
$regular: 400;
$bold: 600;
$black: 800;
$serif: 'Crimson Text', 'Baskerville', times, serif;
$sansSerif: 'Work Sans', Helvetica, Arial, sans-serif;
$sansSerif: Helvetica, Arial, sans-serif;
$clarendon: ClarendonBTWXX-Roman, Helvetica, Arial, sans-serif;
$monospace: 'Overpass Mono', courier, monospace;
@mixin serifText {
	font-family: $serif;
	font-weight: normal;
}
@mixin sansSerifText {
	font-family: $sansSerif;
	font-weight: 400;
}
@mixin revealerText {
	font-family: $clarendon !important;
	font-weight: 400 !important;
	text-transform: lowercase !important;
}
@mixin monoText {
	font-family: $monospace !important;
	font-weight: 600 !important;
}
///////////////////////////////////////////////////////////////
////////////////////////BREAK POINTS///////////////////////////
///////////////////////////////////////////////////////////////
$logoWidth: 16em;
$sideWidth: 18em;
$mobSideWidth: 35vw;
$lineWidth: 650px;

$xSmallWidth: 480px;
$smallWidth: 768px;
$mediumWidth: 1024px;
$largeWidth: 1440px;
$maxWidth: 950px;

@mixin xSmall {
	@media (max-width: #{$xSmallWidth}) {
		@content;
	}
}

@mixin small {
	@media (max-width: #{$smallWidth}) {
		@content;
	}
}

@mixin medium {
	@media (max-width: #{$mediumWidth}) {
		@content;
	}
}

@mixin large {
	@media (max-width: #{$largeWidth}) {
		@content;
	}
}


///////////////////////////////////////////////////////////////
///////////////////////////ANIMATION///////////////////////////
///////////////////////////////////////////////////////////////
$ease: cubic-bezier(0.19, 1, 0.22, 1);

@keyframes conceal {
	0% {opacity: 1;}
	7% {opacity: .8;}
	100% {opacity: .02;}
}

@keyframes glisten {
	0% {
		opacity: 0.75;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: .75;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-.125em);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes glistenBounce {
	0% {
		opacity: 0.75;
		transform: translateY(0);
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: .75;
		transform: translateY(-.125em);
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
		transform: translateY(0);
	}
}
///////////////////////////////////////////////////////////////
///////////////////////////SHADOWS/////////////////////////////
///////////////////////////////////////////////////////////////
@mixin underline($color:inherit, $bg:$lightest, $width:.05em) {
	$space: .03em;
	$half: #{$space/2};
	$double: #{$space*2};
	$triple: #{$space*3};
	text-shadow: 0 $space 0 $bg, 0 $double 0 $bg, 0  -#{$space} 0 $bg, 0 -#{$double} 0 $bg, -#{$space} $space 0 $bg, -#{$space} $double 0 $bg, $space $space 0 $bg, $space $double 0 $bg, -#{$space} 0 0 $bg, 0 -#{$triple} 0 $bg;
	background: linear-gradient($bg,$bg),linear-gradient($bg,$bg),linear-gradient($color,$color);
	background-position: 0 87%,100% 87%,0 92%;
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-size: .05em 1px,.05em 1px,1px $width;
	text-decoration: none;
	// position: relative;
}
@mixin noUnderline() {
	text-shadow: none;
	background: none;
}
@mixin xSmallShadow($color) {
	// lil
	box-shadow: 0 0 .25em .05em $color;
}
@mixin smallShadow($color) {
	// box
	box-shadow: 0 0 .25em .5em $color;
}
@mixin mediumShadow($color) {
	// circle
	box-shadow: 0 0 .5em .25em $color;
}
@mixin largeShadow($color) {
	// hover
	box-shadow: 0 0 2em 1em $color;
}
@mixin xLargeShadow($color) {
	// search
	box-shadow: 0 0 5em 1em $color;
}
@mixin scale {
	transform: scale(1.005);
}