///////////////////////////////////////////////////////////////
///////////////////////////COLORS//////////////////////////////
///////////////////////////////////////////////////////////////
$gold: #fecf0c;
$lightGold: #f8df93;
$dark: rgba(#1a172e, .9);
$medium: rgba(#1a172e, .6);
$light: #f3f1f3;
$light: white;

///////////////////////////////////////////////////////////////
///////////////////////TEXT SIZE///////////////////////////////
///////////////////////////////////////////////////////////////
@mixin baseText {
	font-size: 20px;
	line-height: 1.4em;
	@include tablet {
		font-size: 18px;
	}
}
@mixin xxSmallText {
	font-size: .5em;
	line-height: 1.2em;
}
@mixin xSmallText {
	font-size: .8em;
	line-height: 1.2em;
}
@mixin smallText {
	font-size: 1em;
	line-height: 1.3em;
}
@mixin mediumText {
	font-size: 1.2em;
	line-height: 1.4em;
}
@mixin xMediumText {
  font-size: 1.5em;
  line-height: 1.1em;
  @include phone {
    font-size: 1.2em;
  }
}
@mixin largeText {
	font-size: 2em;
	line-height: 1.1em;
  @include phone {
    font-size: 1.5em;
  }
}
@mixin xLargeText {
  font-size: 2.3em;
  line-height: 1.1em;
  @include phone {
    font-size: 2em;
  }
}
///////////////////////////////////////////////////////////////
///////////////////////////FONTS///////////////////////////////
///////////////////////////////////////////////////////////////
$regular: 400;
$bold: 600;
$black: 800;
@import 'https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,400,500,600,700,800,900';
$serif: 'Crimson Text', 'Baskerville', times, serif;
$sansSerif: 'Work Sans', Helvetica, Arial, sans-serif;
@mixin serifText {
	font-family: $serif;
  font-weight: normal;
}
@mixin sansSerifText {
	font-family: $sansSerif;
  font-weight: 400;
}
///////////////////////////////////////////////////////////////
////////////////////////BREAK POINTS///////////////////////////
///////////////////////////////////////////////////////////////
$sideWidth: 18em;
$mobSideWidth: 35vw;
$lineWidth: 30em;

$phoneWidth: 480px;
$tabletWidth: 768px;
$laptopWidth: 1024px;
$desktopWidth: 1440px;
$maxWidth: 950px;

@mixin phone {
	@media (max-width: #{$phoneWidth}) {
		@content;
	}
}

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptopWidth}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktopWidth}) {
    @content;
  }
}


///////////////////////////////////////////////////////////////
///////////////////////////ANIMATION///////////////////////////
///////////////////////////////////////////////////////////////
$ease: cubic-bezier(0.19, 1, 0.22, 1);

@keyframes conceal {
  0% {opacity: 1;}
  7% {opacity: .8;}
  100% {opacity: .02;}
}

@keyframes glisten {
  0% {
  	opacity: 0.5;
  }
  25% {
  	opacity: 1;
  }
  50% {
  	opacity: .5;
  }
  75% {
  	opacity: 1;
  }
  100% {
  	opacity: 0.5;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-.125em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes glistenBounce {
  0% {
  	opacity: 0.5;
  	transform: translateY(0);
  }
  25% {
  	opacity: 1;
  }
  50% {
  	opacity: .5;
  	transform: translateY(-.125em);
  }
  75% {
  	opacity: 1;
  }
  100% {
  	opacity: 0.5;
  	transform: translateY(0);
  }
}
///////////////////////////////////////////////////////////////
///////////////////////////SHADOWS/////////////////////////////
///////////////////////////////////////////////////////////////
@mixin lilShadow($color) {
  box-shadow: 0 0 .25em .05em $color;
}
@mixin boxShadow($color) {
  box-shadow: 0 0 .25em .5em $color;
}
@mixin circleShadow($color) {
  box-shadow: 0 0 .5em .25em $color;
}
@mixin hoverShadow($color) {
  box-shadow: 0 0 2em 1em $color;
}
@mixin lightHoverShadow($color) {
  box-shadow: 0 0 5em 0 $color;
}